{% extends 'base.html.twig' %}

{% block title %}My profile
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row mt-4">
			<h1>{{ app.user.firstname }}
				{{ app.user.lastname }}</h1>
		</div>

		<hr>
		<section class="row mt-4">
			<h2>My profile</h2>

			<div class="row mt-2">
				<div class="col-2">
					<strong>Lastname</strong>
					:</div>
				<div class="col">{{ app.user.lastname }}</div>
			</div>
			<div class="row mt-2">
				<div class="col-2">
					<strong>Firstname</strong>
					:</div>
				<div class="col">{{ app.user.firstname }}</div>
			</div>
			<div class="row mt-2">
				<div class="col-2">
					<strong>E-mail</strong>
					:</div>
				<div class="col">{{ app.user.email }}</div>
			</div>
			{# 
						<div class="row">
							<div class="col">
								<strong>Date de naissance</strong>
								:</div>
							<div class="col">{{ app.user.dateOfBirth }}</div>
						</div>
						<div class="row">
							<div class="col">
								<strong>Membre depuis le</strong>
								:</div>
							<div class="col">{{ app.user.createdAt }}</div>
						</div> #}
		</section>

		<hr>

		<section class="row mt-4 mb-4">
			<h2>My collection</h2>


			{% if is_granted('ROLE_USER') %}
				{# <p class="text-end">
									<a href="{{ path('add_user_collecting') }}" class="btn btn-success">Add a collection</a>
								</p> #}
				<p class="text-end">
					<a href="{{ path('add_user_item') }}" class="btn btn-success">Add items</a>
				</p>
			{% endif %}

			<div class="row row-cols-1 row-cols-md-6 g-4">
				{% for userItem in userItemList %}
					<div class="col">
						<a href="{{ path('collecting_show_item', {'collecting': userItem.item.collecting.id, 'item': userItem.item.id}) }}" class="text-decoration-none">
							<div class="card h-100">
								{% if userItem.item.collecting.id == 1 %}
									<div class="card-header bg-dark text-center text-white d-flex align-items-center justify-content-center" style="min-height : 4rem;">{{ userItem.item.title }}</div>
								{% else %}
									<div class="card-header bg-light text-center text-dark d-flex align-items-center justify-content-center" style="min-height : 4rem;">{{ userItem.item.title }}</div>
								{% endif %}

								<div class="card-body" style="min-height : 20rem;">
									<img src="{{ userItem.item.imageUrl }}" class="card-img-top" alt="image of {{ userItem.item.title }}">
								</div>

								{% if userItem.item.collecting.id == 1 %}
									<div class="card-footer bg-dark text-center">
										<small class="text-white">Anime</small>
									</div>
								{% else %}
									<div class="card-footer bg-light text-center">
										<small class="text-dark">Manga</small>
									</div>
								{% endif %}
							</div>
						</a>
					</div>
				{% endfor %}
			</div>
		</section>
	</div>
{% endblock %}
