{% extends 'base.html.twig' %}

{% block title %}Harmonious P
{% endblock %}

{% block body %}

	<div class="container mt-4">
		<section class="row mb-5 text-center">
			<h1>Welcome to the Anime and Manga Lovers</h1>
		</section>

		<section class="row align-items-md-stretch mb-5">
			<div class="col-md-2"></div>
			<div class="col-md-4" style="height: 15rem;">
				<a href="/collectings/1" class=" text-decoration-none">
					<div class="h-100 p-5 text-white bg-dark rounded-3 d-flex align-items-center justify-content-center">
						<h2 class="text-center">Anime</h2>
					</div>
				</a>
			</div>
			<div class="col-md-4">
				<a href="/collectings/2" class="text-decoration-none">
					<div class="h-100 p-5 text-dark bg-light border rounded-3 d-flex align-items-center justify-content-center">
						<h2 class="text-center">Manga</h2>
					</div>
				</a>
			</div>
			<div class="col-md-2"></div>
		</section>


		<section class="row mb-5">
			<h2 class="text-center">Latest items</h2>
			<div class="row row-cols-1 row-cols-md-6 g-4">
				{% for item in items %}
					<div class="col">
						<a
							href="{{ path('collecting_show_item', {'collecting': item.collecting.id, 'item': item.id}) }}" class="text-decoration-none">
							{# <a href="{{ path('item_show', {'item': item.id}) }}" class="text-decoration-none"> #}
							<div class="card h-100">
								{% if item.collecting.id == 1 %}
									<div class="card-header bg-dark text-center text-white d-flex align-items-center justify-content-center" style="min-height : 4rem;">{{ item.title }}</div>
								{% else %}
									<div class="card-header bg-light text-center text-dark d-flex align-items-center justify-content-center" style="min-height : 4rem;">{{ item.title }}</div>
								{% endif %}
								<div class="card-body" style="min-height : 20rem;">
									<img src="{{ item.imageUrl }}" class="card-img-top" alt="image of {{ item.title }}">

								{# <h5 class="card-title text-center">{{ item.title }}</h5> #}
									{# <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> #}
								</div>
								{% if item.collecting.id == 1 %}
									<div class="card-footer bg-dark text-center">
										<small class="text-white">Anime</small>
									</div>
								{% else %}
									<div class="card-footer bg-light text-center">
										<small class="text-dark">Manga</small>
									</div>
								{% endif %}
							</div>
						</a>
					</div>
				{% endfor %}
			</div>

		</section>
	</div>
{% endblock %}
